{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Fecha toma de pedido</td>
            <td>Objetivo</td>
            <td>Tienda</td>
            <td>Departamento</td>
            <td>Vendedor</td>
            <td>Producto</td>
            <td>Valor</td>
            <td>Fecha de despacho</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if object_list %}
        {% for pedidos in object_list %}
        <tr>
            <td>{{ pedidos.id }}</td>
            <td>{{ pedidos.fechauno }}</td>
            <td>{{ pedidos.objetivo }}</td>
            <td>{{ pedidos.tienda }}</td>
            <td>{{ pedidos.departamento }}</td>
            <td>{{ pedidos.vendedor }}</td>
            <td>{{ pedidos.producto }}</td>
            <td>{{ pedidos.valor }}</td>
            <td>{{ pedidos.fechados }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'pedidos_editar' pedidos.id %}">Editar</a>
                <a class="btn btn-danger" href="{% url 'pedidos_eliminar' pedidos.id %}">Eliminar</a>
                <a class="btn btn-success" target="_blank" href="{% url 'pedidos_eliminar' pedidos.id %}">Ver</a>

            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros de pedidos</h1>

        {% endif %}
    </tbody>
</table>
<ul class="pager">
    <li>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Atras</a>
        {% endif %}
    </li>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
</ul>
{% endblock %}