{% extends 'base/base.html' %}

{% block title %}
	Pedido
{% endblock %}

{% block content %}
	<h1> {{ pedidos.tienda }} </h1>
	{% if producto.imagen %}
		<img src="/media/{{ producto.imagen }}" width ="80px" heigth="80px">
	{% endif %}	
	<br>
	<p><b>Nombre:</b> {{ pedidos.vendedor }} </p>
	<p><b>Tipo de pedido:</b> {{ pedidos.tipo.nombre }} </p>
	<p><b>Pasos para preparar la pedido:</b> {{ producto.precio }} </p>
	<p><b>Ingredientes:</b> {{ producto.precio }} </p>
	<p><b>Descripción:</b> {{ producto.stock }} unidades</p>
	{% for c in categorias %}
		<span class="label label-info">{{ c.nombre }}</span>
	{% endfor %}	

{% endblock %}